@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@484&display=swap');
header {
    color: #3581B8;
    text-align: left;
    font-family: Manrope, Arial, Helvetica, sans-serif;
    font-size: 25px;
}

div {
    color: #3581B8;
    text-align: left;
    font-family: Manrope, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

button {
    background-color: #fbfff1;
    color: #A8c4ec;
    border: 2px solid #284B63;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    font-family: Manrope, Arial, Helvetica, sans-serif;
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    font-family: Manrope, Arial, Helvetica, sans-serif;
    resize: none;
}

output {
    display: block;
    margin-top: 10px;
    color: #3581B8;
    font-family: Manrope, Arial, Helvetica, sans-serif;
    font-size: 14px;
}