@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
header {
    color: #17517a;
    text-align: left;
    font-family: Fredoka, Arial, Helvetica, sans-serif;
    font-size: 25px;
}

div {
    color: #24708d;
    text-align: left;
    font-family: Fredoka, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

button {
    background-color: #dad6ea;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}