@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
header {
    color: #5c6b73;
    text-align: left;
    font-family: Fredoka, Arial, Helvetica, sans-serif;
    font-size: 25px;
}

div {
    color: #5C6B73;
    text-align: left;
    font-family: Fredoka, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

button {
    background-color: #253237;
    color: #E0FBFC;
    border: 2px solid #010a0d;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    font-family: Fredoka, Arial, Helvetica, sans-serif;
    cursor: pointer;
}